Documentation/References
Documentation/References/*
Documentation/*.aux
Documentation/*.fdb_latexmk
Documentation/*.fls
Documentation/*.log
Documentation/*.toc
Documentation/presentation_miparcours/*.aux
Documentation/presentation_miparcours/*.fdb_latexmk
Documentation/presentation_miparcours/*.fls
Documentation/presentation_miparcours/*.log
Documentation/presentation_miparcours/*.toc
Documentation/presentation_miparcours/*.nav
Documentation/presentation_miparcours/*.out
Documentation/presentation_miparcours/*.snm
Documentation/presentation_miparcours/*.synctex.gz
Documentation/presentation_miparcours/*.tex~
rootDBIDs.txt
GUI/MyApplication/app/src/main/gen/*
GUI/MyApplication/.idea/*
classes/*
tmp/*
machineLearning/classes/*
